//header
header {
  height: 600px;
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $widthPage;
    height: $headerHeight;
    margin: auto;
    border-bottom: 1px solid $primaryColor;
    .logo {
      width: 30%;
      height: 100px;
      padding-left: 40px;
      padding-top: 35px;
      a{
        text-decoration: none;
      }
    }
  }
}
//nav-list
.nav-list{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  line-height: 60px;
  height: 100px;
  #burger-menu {
    display: none;
  }
  li{
    display: inline-block;
    list-style: none;
    padding-right: 40px;
    text-transform: capitalize;
    a{
      text-decoration: none;
      color: $primaryColor;
      font-weight: bold;
    }
    a:hover {
        color: $secondColor;
    }
  }
}
//btn in nav-list
button {
  @include btn;
  &:hover {
    background-color: $secondColor;
    a{
    color: $whiteColor;
    z-index: 2;
    }
  }
}

//dropdown
.open-dropdown{
  position: relative;
  .dropdown {
    display: none;
    .dropdown:hover{ //sistemazione in seguito mediante js
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 45px;
      left: -20px;
      width: 40px;
      padding: 0 22px;
      background-color: $whiteColor;
      box-shadow: 2px 2px $thirdColor;
      border: 1px solid  $fourthColor;
      border-radius: 3px;
      li {
      text-transform: capitalize;
      margin-bottom: -20px;
      margin-right: 20px;
      }
    }
  }
}

//mediaquery for menu
@media screen and (max-width: $breackpointSmall) {
  #burger-menu {
    display: block;
  }
  .nav-list{
    display: none;
  }
}

//jumbotron

.jumbo {
  display: flex;
  flex-direction: row;
  width: $widthPage;
  margin: auto;
  margin-top: 90px;
  height: $jumboHeight;
  background-color: red;
  &-title,
  &-img {
  width: $halfwidth;
  height: $jumboHeight;
  background-color: yellow;
    color: $primaryColor;
  }
}

.jumbo-title {
  h1 {
    font-size: 50px;
    line-height: 80px;
  }
  h3 {
    font-size: 30px;
  }
  li {
    display: inline-block;
    text-decoration: none;
  }
}
