//header
header {
  height: 600px;
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $widthPage;
    height: $headerHeight;
    margin: auto;
    border-bottom: 1px solid $primaryColor;
    .logo {
      width: 30%;
      height: 100px;
      padding-left: 40px;
      padding-top: 35px;
      a{
        text-decoration: none;
      }
    }
  }
}
//nav-list
.nav-list{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  line-height: 60px;
  height: 100px;
  li{
    display: inline-block;
    list-style: none;
    padding-right: 40px;
    text-transform: capitalize;
    a{
      text-decoration: none;
      color: $primaryColor;
    }
    a:hover {
        color: $secondColor;
    }
  }
}
//btn in nav-list
button {
  @include btn;
}

//dropdown
.open-dropdown{
  position: relative;
  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -20px;
    width: 50px;
    box-shadow: 5px 5px $thirdColor;
    border-radius: 3px;
    li {
    text-transform: capitalize;
    margin-bottom: -20px;
    }
  }
}
