//colors page
$primaryColor: #58402B; //darkbrown
$secondColor: #263971; //blue
$thirdColor: #ccc;  //grey
$fourthColor: #e2e3e5; //lightgrey
$whiteColor: #fff; //white

//size page

$widthPage: 85%;
$headerHeight: 85px;
